#############
## XenForo
#############

# Folders
community/data/**/*
community/install/**/*
community/internal_data/**/*

# JS Folders
community/js/flot/**/*
community/js/jquery/**/*
community/js/redactor/**/*
community/js/swfupload/**/*
community/js/sortable/**/*
community/js/xenforo/**/*
community/js/index.html

# Styles
community/styles/default/xenforo/**/*
community/styles/default/xenresource/**/*
community/styles/default/index.html
community/styles/index.html

# Library
community/library/Lgpl/**/*
community/library/Minify/**/*
community/library/Sabre/**/*
community/library/XenForo/**/*
community/library/XFCliImporter/**/*
community/library/Zend/**/*
community/library/.htaccess
community/library/config.php.default
community/library/config.php
community/library/index.html

# Root Files
community/admin.php
community/admindav.php
community/css.php
community/deferred.php
community/fb_channel.php
community/htaccess.txt
community/.htaccess
community/index.php
community/payment_callback.php
community/rgba.php
community/proxy.php

##########
## Eclipse
##########

*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath


# External tool builders
.externalToolBuilders/


# Locally stored "Eclipse launch configurations"
*.launch


# CDT-specific
.cproject


# PDT-specific
.buildpath


# sbteclipse plugin 
.target


# TeXlipse plugin
.texlipse

