##########
## Eclipse
##########

*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath


# External tool builders
.externalToolBuilders/


# Locally stored "Eclipse launch configurations"
*.launch


# CDT-specific
.cproject


# PDT-specific
.buildpath


# sbteclipse plugin 
.target


# TeXlipse plugin
.texlipse

#Thumbnails by thumb.php
*_thumb_*x*.jpg
*_thumb_*x*.png
*_thumb_*x*.gif

#OS junk files
[Tt]humbs.db
*.DS_Store

#Block test
blocks/**/*.png
blocks/BlockData.ini
blocks/BlockData_old.ini

#Downloads
files/game/
files/updater/

#Wiki
wiki/

# Visual Studio User-specific files
*.suo
*.user
*.sln.docstates
