RewriteEngine On



RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{DOCUMENT_ROOT}/index\.php -f
RewriteCond %{REQUEST_URI} !^community/
RewriteRule ^(.*)$  /index.php?page=$1 [QSA]


#########################

# redirect no-www to www

#########################

RewriteCond %{HTTP_HOST} !^www\.seedofandromeda\.com$ [NC]
RewriteCond %{HTTP_HOST} !^www\.soatest\.local$ [NC]
RewriteRule ^(.*)$ http://www.seedofandromeda.com/$1 [R=301,L]