RewriteEngine On
RewriteBase /



#     RewriteCond %{REQUEST_URI} !/maintenance [NC]
#RewriteCond %{HTTP_HOST} !^test\.seedofandromeda\.com$ [NC]
#     RewriteCond %{REQUEST_URI} !\.(jpe?g?|png|gif) [NC]
 
     # serve default 503 response
#     RewriteRule .* http://www.seedofandromeda.com/maintenance.php [R=503,L]
# serve custom 503 response
#ErrorDocument 503 /maintenance.php
 
#<IfModule mod_headers.c>
     # 3600 = 60 minutes
     # 86400 = 1 day
     # 604800 = 1 week
#     Header always set Retry-After "3600"
#</IfModule>

php_value  upload_max_filesize  300M
php_value  post_max_size  301M


RewriteRule ^blogs/creating-a-region-file-system-for-a-voxel-game$ /blogs/1-creating-a-region-file-system-for-a-voxel-game [L,R=301]
RewriteRule ^blogs/designing-the-world-character$ /blogs/2-designing-the-world-character [L,R=301]
RewriteRule ^blogs/crafting-research-and-intergroup-cooperation-volume-one-part-one$ /blogs/3-crafting-research-and-intergroup-cooperation---volume-i [L,R=301]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{DOCUMENT_ROOT}/thumb\.php -f
RewriteCond %{REQUEST_URI} !^community/
RewriteCond %{REQUEST_URI} !^Forums/
RewriteRule ^(.*)_thumb_([0-9]+)x([0-9]+).(jpg|png|gif)$  /thumb.php?i=$1.$4&w=$2&h=$3 [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{DOCUMENT_ROOT}/index\.php -f
RewriteCond %{REQUEST_URI} !^community/
RewriteCond %{REQUEST_URI} !^Forums/
RewriteRule ^(.*)$  /index.php?page=$1 [QSA,L]



#########################

# redirect no-www to www

#########################

RewriteCond %{HTTP_HOST} !^www\.seedofandromeda\.com$ [NC]
#RewriteCond %{HTTP_HOST} !^test\.seedofandromeda\.com$ [NC]
RewriteCond %{HTTP_HOST} !^www\.soatest\.local$ [NC]
RewriteRule ^(.*)$ http://www.seedofandromeda.com/$1 [R=301,L]

#Redirect old download location to new one with counter:
Redirect permanent /files/ http://files.seedofandromeda.com/
Redirect permanent /SeedofAndromeda/Game/Versions/ http://files.seedofandromeda.com/game/
Redirect permanent /SeedofAndromeda/ http://files.seedofandromeda.com/game/

Redirect permanent /update.php http://updater.seedofandromeda.com/update.php

#Hide .git directories and files if they get uploaded to the web server
RedirectMatch 404 /\.git


# PHP error handling for production servers

# disable display of startup errors
php_flag display_startup_errors off

# disable display of all other errors
php_flag display_errors off

# disable html markup of errors
php_flag html_errors off

# enable logging of errors
php_flag log_errors on

# disable ignoring of repeat errors
php_flag ignore_repeated_errors off

# disable ignoring of unique source errors
php_flag ignore_repeated_source off

# enable logging of php memory leaks
php_flag report_memleaks on

# preserve most recent error via php_errormsg
php_flag track_errors on

# disable formatting of error reference links
php_value docref_root 0

# disable formatting of error reference links
php_value docref_ext 0

# specify path to php error log
php_value error_log /var/zpanel/hostdata/seedofandromeda/public_html/seedofandromeda_com//PHP_errors.log

# specify recording of all php errors
php_value error_reporting 999999999
php_value error_reporting -1

# disable max error string length
php_value log_errors_max_len 0

# protect error log by preventing public access
<Files PHP_errors.log>
 Order allow,deny
 Deny from all
 Satisfy All
</Files>