@import "../data.less";

.header > * {
    font-size: 1.6em;
}

#blog-list-outer {
    position: relative;
}

#blog-post blockquote {
	margin-left: auto;
	margin-right: auto;
	border: 1px #39AECF solid;
	background: rgba(0, 0, 0, 0.6);
	width: 700px;
	padding: 5px 10px;
}
#blog-post blockquote p {
	margin: 0;
	font-size: 0.8em;
}
#blog-post blockquote code p {
	margin-bottom: 0.5em;
}

#blog-post-footer {
    margin-top: 0.5em;
    float: right;
    font-family: "orbitronlight", sans-serif;
    text-shadow: 0 0 10px #fff;
}
#blog-post-footer * {
    color: white !important;
}

@blog-image-slider-width: 80%;
#blog-image-slider .media-slider-frame {
    width: 80%;
    margin-left: ( ( 100 - @blog-image-slider-width ) / 2 );
}
#blog-image-slider .card-background {
    opacity: 1;
}

.blogs-outer-wrapper {
    position: relative;
    height: 40vh;
}