@import "../data.less";

#new-post {
    float: right;
}

#post-settings .btn {
    float: right;
    margin-top: ( -1 * @btn-dim * @btn-dim-ratio );
}
#post-settings .btn:last-child {
    margin-right: @btn-dim;
}

#blog-post-footer {
    float: right;
}