@import "../data.less";

.version {
    display: inline-block;
}

@download-button-width: 192px;
@download-button-height: ( @download-button-width * @btn-dim-ratio );
.download {
    display: block;
    font-size: 1.4em;
    color: @color-anchor !important;
    .ButtonDim(@download-button-width);
}

.ver-description {
    min-height: @download-button-height;
    margin-bottom: 20px;
}

#latest-download > .col {
    font-size: 0.9rem;
    text-align: center;
}
#latest-download h4 {
    text-shadow: none !important;
    margin-top: 100px;
}
#latest-download .text {
    font-size: 11.5pt;
}