#latest-dev-news > div {
    font-size: 0.93em;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    float: none;
}

#latest-dev-news #blog-post-header {
    padding-bottom: 20px;
}

#blog-post-body {
    height: auto !important;
    max-height: 750px;
    padding-left: 5%;
    padding-right: 5%;
}

#dev-news-frame, .dev-news-wrapper, #dev-news-background, .dev-news-control, #dev-news-js-warning {
    width: 100%;
    height: 100%;
}
#dev-news-text, #dev-news-summary, #dev-news-header {
    width: 80%;
}

#dev-news-frame {
    position: relative;
    width: 828px;
    height: 308px;
    /* Aspect Ratio: 35:13 */
    background-color: rgb(0,0,0);
    margin-top: 20px;
    margin-bottom: 20px;
}

#dev-news-text {
    position: absolute;
    z-index: 3;
}

#dev-news-background {
    background-repeat: no-repeat;
    /* Revert to this upon testing!
        background-size: contain;
    */
    background-size: cover;
    background-position: center center;
    position: relative;
    z-index: 1;
    opacity: 0.7;
    transition: all .2s linear;
}

.dev-news-wrapper:hover #dev-news-background {
    opacity: 1;
}

#dev-news-header {
    padding-left: 3em;
}
#dev-news-summary {
    padding-left: 5em;
}

.dev-news-control {
    width: 40px;
    background: rgba(255,255,255,0.15);
    transition: background .2s linear;
    text-align: center;
    position: absolute;
    line-height: 308px;
    z-index: 10;
}

.dev-news-control:hover {
    background: rgba(255,255,255,0.3);
    cursor: pointer;
}

.dev-news-control-left {
    left: 0;
}

.dev-news-control-right {
    right: 0;
}

#dev-news-js-warning {
    text-align: center;
    line-height: 308px;
}

.dev-news-wrapper, #dev-news-js-warning {
    position: absolute;
    left: 0;
    right: 0;
}