div#latest-dev-news > div {
    font-size: 0.93em;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    float: none;
}

div#latest-dev-news #blog-post-header {
    padding-bottom: 20px;
}

div#blog-post-body {
    height: auto !important;
    max-height: 750px;
    padding-left: 5%;
    padding-right: 5%;
}